* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
  overflow: hidden;
  background-color: black;
}
.container {
    background-color: bisque;
    position: relative;
    transform-origin: top left;
    transition: all 0.5s ease-in;
   
}
.article {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 45rem;
    margin: 0 auto;
    background-color: antiquewhite;
 
}
.subhead{
  font-size: 0.8rem;
  font-style: italic;
}
.desc1{
  margin-top: 2rem;
}
img {
    width: 100%;
}
.nav-rotate {
    display: grid;
    width: 8rem;
    grid-template-columns: 1fr 1fr;
    /* border:1px solid black; */
    height: 8rem;
    gap: 1px;
    border-radius: 999px;
    background-color: #ff7979;
    position: absolute;
    top: -4.5rem;
    left: -4rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
}
/* .nav-rotate:hover {
    transform: rotate(-90deg);
} */
.nav-rotate > div {
    /* background-color: blueviolet; */
    display: grid; 
    place-items: center;

   
}
.rotate90{
  transform: rotate(-70deg);
}
.rotate15{
  transform: rotate(-15deg);
}
.berger {
    width: 1rem;
    height: 1rem;
    position: relative;
    /* top:25%;
    left: 25%; */
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
}
.berger  div {
    width: 90%;
    border: 1px solid rgb(255, 255, 255);
}
